<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smm.payCenter.dao.ShowTransactionDao">
	<select id="queryList" parameterType="java.util.Map" resultType="com.smm.payCenter.domain.PaymentRecord">
		SELECT
			  p.payment_id as paymentid,
			  p.payment_no as paymentNo,
			  p.mall_order_id as mallorderid,
			  p.buyer_company_name as buyercompanyname,
			  p.seller_company_name as sellercompanyname,
			  p.deal_money as dealmoney,
			  p.payment_status as paymentstatus,
			  p.create_time as createtime,
			  a.use_money as usemoney
			FROM tr_payment_record p,
			  user_account a
			WHERE p.buyer_user_id = a.user_id 
			<if test=" dstatus != null and dstatus !=-1 ">
	  			and p.payment_status = #{dstatus} 
	  		</if>
	  		<if test=" companyName != null and companyName !='' ">
	  			and (p.buyer_company_name like '%${companyName}%'  or p.seller_company_name  like '%${companyName}%') 
	  		</if>
	  		<if test=" startTime != null and startTime != ''">
	  			and p.create_time &gt;= #{startTime} 
	  		</if>
	  		<if test=" endTime != null and endTime != ''">
	  			and p.create_time &lt;= #{endTime} 
	  		</if>
	  		
	  		order by p.create_time desc 
	  		<!-- 分页 -->
			<if test="startNum!=null and endNum !=null ">
				limit ${startNum},${endNum}
			</if>
	</select>
	
	<update id="updateCloseById" parameterType="java.lang.Integer">
			UPDATE tr_payment_record SET payment_status =3 WHERE payment_id=#{paymentId}
	</update>	
</mapper>