<style>
.mailBody{
	position:absolute;
	width: 856px;
	height: 676px;
	padding: 20px;
}
p{

	line-height: 26px;
	font-family: Arial Negreta, Arial;
    font-weight: 400;
    color: #333333;
   	font-size: 16px;
}

.emphasize{
    font-weight: 700;
    color: #2D91E5;
}
.foot{
	color: #888888;
	font-size: 13px;
}
li{
	list-style: none;
	color: #333333;
	line-height: 22px;
}

#imgtxt ul{
	display: inline-block;
	margin: 0;
	padding: 0;

}


.left{
	float: left;
	margin-right: 5px;
}
.titleli{
    font-size: 24px;
}
.contentli{
    font-size: 13px;

}
</style>
<div class="mailBody">
  
<p>尊敬的${userName} 您好！</p>

 <br>
<br>
<p>
	<span>感谢您注册有色网支付系统，有色网支付系统为有色金属行业贸易商提供第三方支付平台；</span><br>
	<span>有色网同中信银行合作推出的支付系统，提供线上电子平台交易资金监管，托收等服务。资金划转通过中国人民银行大额支付通道实时到帐。</span>
</p>
<br>
<br>
<p>您的帐号（用户名：<span class="emphasize"> ${registeredMail} </span>）已由我们后台审核通过。</p>
<p><span>您在中信银行的独立交易帐户为：</span></p>
<p><span class="emphasize">帐户名： ${accountName}</span></p>
<p><span class="emphasize">开户行： 中信银行上海自贸区分行</span></p>
<p><span class="emphasize">帐    号：${account}</span></p>
<p><span>您可通过您的企业网银直接划款至以上银号帐号进行<span class="emphasize">入金</span>操作。</span></p>

<br>
<br>
<br>
<div id="imgtxt">
	<ul>
	
			<img class="left" src="cid:IMG0"></img>
		<div class="left">
			<li class="titleli">大额支付</li>
			<li class="contentli">面向金属行业的B2B大额支付服务</li>
			<li class="contentli">实现资金流与商流、物流的同步</li>
		</div>	
	</ul>
	<ul>
		<img  class="left" src="cid:IMG1"></img>
		<div class="left">
			<li class="titleli">实时到帐</li>
			<li class="contentli">通过人民银行大额支付通道</li>
			<li class="contentli">时实提款，时实到帐</li>
		</div>	
	</ul>
	<ul>
		<img  class="left" src="cid:IMG2"></img>
		<div class="left">	
			<li class="titleli">安全保障</li>
			<li class="contentli">中信银行提供资金监管</li>
			<li class="contentli">资金存储企业独立帐户，专款专用</li>
		</div>	
	</ul>
</div>
 
<br>
<br>
<br>
  
<hr>
<p><span class="foot">此为系统邮件，请勿回复</span>
<span class="foot">请保管好您的邮箱，避免账号被他人盗用</span> </p>
<p><span class="foot">上海有色网版权所有2000-2015</span></p>

 




</div>